body{
    font-size: 2rem;
    font-family:sans-serif;
}

.navBar{
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem 2rem;
            position: sticky; /* Se queda fija al hacer scroll */
            top: 0;
         z-index: 1000;
       background-color: rgb(60, 118, 168, 50%);
}
nav a img{
    width: 80px;
    height: auto;
    border-radius: 50%;
    align-items: center;
}

nav ul{
            list-style: none;
            display: flex;
            gap: 5.5rem;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:400px;
    background-color: blue;
    position: relative;
}

.derechaBanner{
    flex: 0 0 50% ;
    height: 600px;
    position: relative;
    background-color: blueviolet;
}
.textoBanner{
    position: absolute;       /* Se coloca encima de la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;            /* Flexbox para centrar contenido */
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente opcional */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.izquierdaBanner{
    flex: 0 0 50%;
    height: 600px;
    position: relative;
    background-color: black;
}
.imgBanner{
    overflow: hidden;
}

.imgBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}