.tarjeta{

    height: 250px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 5px #ffaaff;
    display: inline-block;
    margin: 30px;
    filter: blur(1px);
        transition: all ease 0.2s;
        flex: 2 1 200px;
        flex-basis: 300px;

}
.tarjeta:hover{
    transform: translateY(5px) scale(1.3);
    box-shadow: 0px 10px 20px 10px #bd09bd;
    filter: blur(0);

}
#tarjeta1{
    display:flex;
}
.banner{
    height:500px;
    filter: opacity(10%);
}
section{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
            background-color: blue;

}